@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.mt-4 {
  animation: slideIn 0.5s ease-out;
}

.text-light {
  animation: fadeIn 1s ease-in;
}

.text {
  color: white;
}

.text-white {
  color: white !important;
}

.bg-dark {
  background-color: #343a40 !important;
}


/* custom.css */
.bg-dark .text-white {
  color: blue !important;
}

.dcc-dropdown, .dcc-radio-items, .dcc-input {
  color: blue !important;
}

.dcc-dropdown .Select--single > .Select-control .Select-value {
  color: blue !important;
}

.dcc-radio-items .dash-radio-items-container input + label {
  color: blue !important;
}

.dcc-input input {
  color: blue !important;
}
